---
page_title: "{{.Type}} {{.Name}} Resource - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} {{.Name}} (Resource)

> **Deprecated:** `terrible_role` will be removed in a future release.
> For role execution, use the
> [ansible/ansible](https://registry.terraform.io/providers/ansible/ansible/latest/docs)
> provider instead.

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
